.title {
    text-align: left;
    margin-left: 3vw;
    margin-bottom: 1vw;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 60px;
  }

.flex {
    display: flex;
    flex-direction: column;
    margin: 0.7vw;
}

input label {
   position: absolute; top: 1px; /* input 요소의 border-top 설정값 만큼 */ 
  left: 1px; /* input 요소의 border-left 설정값 만큼 */ 
  padding: .8em .5em; /* input 요소의 padding 값 만큼 */ 
  color: #999; cursor: text; } 

   input[type="text"],[type="number"] { 
    width: 50%; /* 원하는 너비 설정 */ 
    font-family: inherit; /* 폰트 상속 */ 
    background-color: transparent;
    border-width: 2px;
    border:none;
    border-bottom: 1px solid #2d3436;
    outline-style: none; 
    font-size: 1.8vw;
    margin: 1.2vw;
  }


.save {
  margin: 3vw;
  margin-top: 1vw;
  padding: 3vw;
  width: 70%;
  border: none;
  border-radius: 2vw;
  background: #f2e8de;
  text-align: center;
  font-size: 1.5vw;
}

.save:active{
  margin: 3vw;
  margin-top: 1vw;
  padding: 3vw;
  width: 70%;
  border: none;
  border-radius: 2vw;
  background: #b19b86;
  text-align: center;
  font-size: 1.5vw;
}

.box {
    margin: 3vw;
    padding: 3vw;
    border-radius: 2vw;
    background: #f2e8de;
  }

.button{
  margin-left: 3vw;
}

a {
    text-decoration-line: none;
    font-weight: 200;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 2vw;
    margin-left: 3vw;
  }

  a:link{
    color:#2d3436;
  }

  a:visited{
    color:#00b894;
  }